.basket-cont-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.basket-wrap {
    width: 1000px;
    height: 380px;
    border: 3px solid #000;
    margin-top: 20px;
    border-radius: 30px;
}
.basket-wrap-title {
    width: 1000px;
    display: flex;
    justify-content: space-between;
    padding-right: 20px;
    padding-left: 20px;
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 10px;
    border: 3px solid #000;
    border-radius: 50px;
    .clear {
        width: 100px;
        border: 3px solid #000;
        border-radius: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 5px;
        font-size: 10px;
        background: cornsilk;
        cursor: pointer;
    }
}

.book-cont {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
    .book {
        width: 250px;
        height: 350px;
        .image-book {
            width: 250px;
            height: 280px;
            display: flex;
            justify-content: center;
            margin-top: 20px;
        }
        .book-name,
        .book-type {
            margin-top: 10px;
            text-align: center;
            font-size: 22px;
        }
        .book-type {
            color: gray;
        }
        .image-basket {
            border-radius: 20px;
        }
    }
    .count-book {
        display: flex;
        & div {
            width: 45px;
            height: 45px;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 1px solid #000;
            border-radius: 22.5px;
            cursor: pointer;
            font-size: 30px;
        }
        .count-num {
            cursor: auto;
            font-size: 35px;
            border: none;
        }
    }
    .desc {
        width: 200px;
        height: auto;
        position: relative;
        right: 30px;
        border: 3px solid #000;
        border-radius: 10px;
        padding: 3px;
        font-size: 13px;
        margin-top: 5px;
        line-height: 1.3;
        text-align: center;
        background: cornsilk;
    }
    .result-sum {
        font-size: 40px;
    }
}

.basket-wrap-footer {
    width: 1000px;
    height: auto;
    display: flex;
    justify-content: space-between;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 20px;
    margin-top: 20px;
    border: 3px solid #000;
    border-radius: 50px;
    .btn {
        width: 70px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 10px;
        border: 3px solid #000;
        border-radius: 20px;
        background: cornsilk;
        cursor: pointer;
        font-size: 20px;
        font-weight: bolder;
    }
}

.basket-wrap-footer > div > p {
    font-size: 27px;
}
.basket-wrap-footer > div > p > span {
    font-size: 40px;
    font-weight: bolder;
    color: crimson;
}
.basket-wrap-footer > div {
    margin-bottom: 15px;
}
.basket-empty-wrap {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    .basket-empty-title-img {
        width: 1000px;
        height: 500px;
        margin-top: 100px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        .basket-empty-img {
            width: 480px;
            height: 300px;
            margin-top: 100px;
            background: url("../assets/empty-cart.gif");
            background-repeat: no-repeat;
            background-size: contain;
            border: 5px solid #000;
            border-radius: 300px;
        }
        .basket-empty-add {
            width: 150px;
            height: 57px;
            position: relative;
            top: 50px;
            left: 15px;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 3px solid #000;
            border-radius: 30px;
            background: cornsilk;
            cursor: pointer;
            font-size: 25px;
            font-weight: bolder;
        }
    }
    .basket-empty-title-img > h2 {
        font-size: 70px;
    }
}
